:root {
  --primary: #000000;
  --secondary: #ffffff;
  --grey: #aaaaaa;
}

/*************************************** 
*          GENERICS                    *
*                                      *
****************************************/
ul {
  list-style: none;
}

body {
  color: var(--primary);
}

.btn-black {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 10px 20px;
}

.btn-black > i {
  vertical-align: middle;
}

/*************************************** 
*          HEADER                      *
*                                      *
****************************************/
/*?-------- NAV BAR---------- */
/* TODO: Icone dentro nav-bar colori invertiti */
.nav-icon-content {
  background-color: black;
  border-radius: 3px;
  padding: 5px;
  color: white;
}

.nav-icon-content img {
  max-height: 45px;
  filter: invert();
}

/*?-------- JUMBOTRON---------- */

.jumbotron {
  border-top: 15px solid var(--primary);
  border-bottom: 15px solid var(--primary);
}

#jumbotron-carousel > .carousel-inner {
  height: 70vh;
}

#jumbotron-carousel > .carousel-inner > .carousel-item {
  height: 100%;
}

#jumbotron-carousel > .carousel-inner > .carousel-item > img {
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.carousel-text {
  position: absolute;
  color: var(--secondary);
  bottom: 50%;
  left: 10%;
}

/*************************************** 
*          MAIN                        *
*                                      *
****************************************/
/*?-------- SECTION FORM AUTO SEARCH---------- */

.form-auto-search input,
.form-auto-search select {
  width: 150px;
  height: 73px;
  color: var(--grey);
  text-align: center;
  border-radius: 3px;
  border-style: none;
  border: 1px solid var(--grey);
}

.form-auto-search button {
  width: 150px;
  height: 73px;
  border-radius: 3px;
}

/*?-------- SECTION AUTO CATEGORIES SEARCH---------- */
.row-box-shadow {
  box-shadow: 2px 4px 20px 0px #aaaaaa57;
}

.col-box-shadow {
  box-shadow: 3px 2px 3px 0px #aaaaaa20;
}

.auto-category-search img {
  width: 100%;
}
