:root {
  --primary: #000000;
  --secondary: #ffffff;
  --grey: #aaaaaa;
}

/*************************************** 
*          GENERICS                    *
*                                      *
****************************************/
ul {
  list-style: none;
}

body {
  color: var(--primary);
}

/*************************************** 
*          HEADER                      *
*                                      *
****************************************/
/*?-------- NAV BAR---------- */
/* TODO: Icone dentro nav-bar colori invertiti */
.nav-icon-content {
  background-color: black;
  border-radius: 3px;
  padding: 5px;
  color: white;
}

.nav-icon-content img {
  max-height: 45px;
  filter: invert();
}
