:root {
  --primary: #000000;
  --secondary: #ffffff;
  --grey: #aaaaaa;
}

/*************************************** 
*          GENERICS                    *
*                                      *
****************************************/
/* @font-face {
  font-family: myFirstFont;
  src: url(../img/assets/free-fa-regular-400.svg-fonta.svg);
}
@font-face {
  font-family: mySecondFont;
  src: url(../img/assets/free-fa-solid-900.svg-fonta.svg);
}

@font-face {
  font-family: myThirdFont;
  src: url(../img/assets/free-fa-brands-400.svg-fonta.svg);
} */

ul {
  list-style: none;
}

body {
  color: var(--primary);
}

.btn-black {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 10px 20px;
}

.btn-black > i {
  vertical-align: middle;
}

.btn-subscribe {
  background-color: var(--secondary);
  color: #ccc5c2;
  padding: 20px 0;
  border-radius: 3px;
  border: 1px solid transparent;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/*************************************** 
*          HEADER                      *
*                                      *
****************************************/
/*?-------- NAV BAR---------- */
/* TODO: Icone dentro nav-bar colori invertiti */
.nav-icon-content {
  background-color: black;
  border-radius: 3px;
  padding: 5px;
  color: white;
}

.nav-icon-content img {
  max-height: 45px;
  filter: invert();
}

/*?-------- JUMBOTRON---------- */

.jumbotron {
  border-top: 15px solid var(--primary);
  border-bottom: 15px solid var(--primary);
}

#jumbotron-carousel > .carousel-inner {
  height: 70vh;
}

#jumbotron-carousel > .carousel-inner > .carousel-item {
  height: 100%;
}

#jumbotron-carousel > .carousel-inner > .carousel-item > img {
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.carousel-text {
  position: absolute;
  color: var(--secondary);
  bottom: 50%;
  left: 10%;
}

/*************************************** 
*          MAIN                        *
*                                      *
****************************************/

/*?-------- SECTION FORM AUTO SEARCH---------- */

.form-auto-search input,
.form-auto-search select {
  width: 150px;
  height: 73px;
  color: var(--grey);
  text-align: center;
  border-radius: 3px;
  border-style: none;
  border: 1px solid var(--grey);
}

.form-auto-search button {
  width: 150px;
  height: 73px;
  border-radius: 3px;
}

/*?-------- SECTION AUTO CATEGORIES SEARCH---------- */
.row-box-shadow {
  box-shadow: 2px 4px 20px 0px #aaaaaa57;
}

.col-box-shadow {
  box-shadow: 3px 2px 3px 0px #aaaaaa20;
}

.auto-category-search img {
  width: 100%;
}

/*?-------- SECTION AUTO LIST---------- */

/*?-------- SECTION AUTO INFO---------- */

.auto-info .image-area {
  max-width: 55%;
  background-image: url(../img/assets/circle-auto-car-1.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: right;
  position: relative;
  padding: 1rem;
}

.badge {
  background-color: #000000;
  position: absolute;
  color: var(--secondary);
  width: 170px;
  height: 170px;
  border-radius: 50%;
  padding-top: 1rem;
}

.badge.badge-team {
  right: 10%;
  bottom: 10%;
}

.badge.badge-exp {
  left: 10%;
  top: 10%;
}

.auto-info .text-area {
  max-width: 35%;
}

.text-custom {
  color: #484848;
}

/*?-------- SECTION TESTIMONIAL --------- */
.testimonial {
  background-image: url(../img/assets/comment-bg-autocar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-testimonial {
  color: var(--secondary);
}

.custom-icon > i:first-child {
  font-size: 70px;
}

.card-testimonial {
  background-color: var(--secondary);
  padding: 3rem 2rem;
  border-radius: 10px;
}

.card-testimonial > img {
  width: 40%;
}

/*?-------- SECTION ARTICLES --------- */

.custom-icon-articles {
  color: var(--secondary);
  font-size: 70px;
  background-color: #000000;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.custom-icon-articles > i {
  border: 2px solid white;
  border-radius: 50%;
  padding: 1rem;
  vertical-align: text-top;
}

.card-articles {
  padding: 1.7rem;
  border-radius: 10px;
  box-shadow: 3px 1px 9px 2px #00000029;
  height: 100%;
}

/*************************************** 
*          FOOTER                      *
*                                      *
****************************************/

footer {
  background-color: var(--primary);
  color: var(--secondary);
}

.company-info i {
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.input-email-custom {
  border-style: none;
  padding: 20px 20px;
  border-radius: 3px;
  margin-bottom: 3px;
}
